.image_upload_box {
  border: 2px dashed rgb(29, 144, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
}

.image_upload_box > header {
  font-size: 20px;
  font-weight: 500;
  color: rgb(29, 144, 255);
}

.image_upload_box > form {
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.image_upload_title {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: rgb(29, 144, 255);
  text-align: center;
}

.upload_icon {
  font-size: 25px;
  color: rgb(29, 144, 255);
}

.selected_filename {
  border: 1px solid black;
  height: 20px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  border-radius: 10px;
  background-color: aliceblue;
  color: black;
  padding: 0px 10px;
  position: relative;
}
.selected_filename > p {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.selected_filename > span {
  position: absolute;
  right: 5px;
  top: 2px;
}
