.gender_select_box {
}

.gender_select {
  width: 100%;
  min-width: 250px;
  display: block;
  height: 40px;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 16px;
  border-radius: 0%;
  border: 1px solid white;
  padding: 0px 10px;
}

.gender_select > option {
  display: block;
  color: black;
  display: block;
  height: 20px;
}

.gender_select_label {
  position: absolute;
  top: -12px;
  color: white;
  background-color: #292929;
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding: 0px 5px;
  left: 10px;
}
