.application_tile {
  height: fit-content;
  min-height: 140px;
  border: 1px solid white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  color: white;
  padding: 10px;
  position: relative;
  padding: 20px 180px 20px 250px;
}
.rejected_application {
  border-color: red;
}

.application_img {
  max-height: 100px;
  position: absolute;
  left: 20px;
  width: 200px;
  display: grid;
  place-items: center;
}
.application_img > img {
  max-height: 100px;
}

.applicant_property {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0px 10px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.applicant_property > span {
  color: teal;
  padding: 0px 4px;
}

.btn_box {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  right: 20px;
}

.verify_btn,
.reject_btn {
  height: 30px;
  width: 100px;
}

.verify_btn {
  color: green;
  background-color: #adebad;
}

.reject_btn {
  color: red;
  background-color: #fbafaf;
}
.rejected_text {
  color: red;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.right_drawer {
  position: fixed;
  right: 0%;
  top: 0%;
  height: 100vh;
  width: 600px;
  background-color: #2b2b2b;
  padding: 30px;
  z-index: 9999999;
  overflow: scroll;
}

.cross_icon {
  position: fixed;
  display: block;
  color: red;
  top: 10px;
  right: 30px;
  cursor: pointer;
  font-size: 30px;
}

.docs_div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0px;
}

.doc_drawer_img {
  border-bottom: 1px solid white;
  padding: 20px 0px;
}
.doc_drawer_img > p {
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
}

.doc_img_tag {
  width: 100%;
}

.loading {
  display: block;
  padding: 50px;
  color: rgb(29, 144, 255);
  font-size: 25px;
  text-align: center;
  text-shadow: 0 0 20px rgb(29, 144, 255);
}
